/**basic button**/
body {
  background: #ccb7ab;
  margin: 0;
}

.container {
  position: relative;
}

@media (min-width: 1920px) {
  .container {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (min-width: 1240px) and (max-width: 1920px) {
  .container {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (min-width: 599px) and (max-width: 1240px) {
  .container {
    margin: 0 auto;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media (max-width: 599px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.countdown {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  background: #AD827C;
  padding: 30px;
  border-radius: 5px;
  min-width: 80px;
  text-align: center;
}

.countdown--visible {
  display: block;
}

.countdown__text {
  font-family: "Quicksand", sans-serif;
  font-size: 120px;
  line-height: 125px;
  font-weight: 300;
  color: #BA8B70;
  color: #3c3c3b;
  margin: 0;
  font-weight: 700;
}

@media (min-width: 599px) and (max-width: 1024px) {
  .countdown__text {
    font-size: 70px;
    line-height: 75px;
    margin-bottom: 20px;
  }
}

@media (max-width: 599px) {
  .countdown__text {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 12px;
  }
}

.error-messages {
  height: 50px;
}

.error-messages__text {
  font-family: quicksand;
  font-weight: 600;
  font-style: italic;
  padding: 10px;
  margin: 0;
}

@media (max-width: 599px) {
  .error-messages__text--two {
    display: none;
  }
}

.game-code {
  background: #fff;
  display: inline-block;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 599px) and (max-width: 1024px) {
  .game-code {
    width: auto;
  }
}

@media (max-width: 599px) {
  .game-code {
    width: auto;
  }
}

.game-code__code-container {
  position: relative;
}

.game-code__code {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #BA8B70;
  letter-spacing: 0.02em;
  color: #3c3c3b;
  border: 1px solid #3c3c3b;
  padding: 10px;
  font-size: 14px;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  margin: 0 0 5px;
}

@media (min-width: 1920px) {
  .game-code__code {
    margin: 0 0 5px;
  }
}

@media (min-width: 1024px) and (max-width: 1920px) {
  .game-code__code {
    margin: 0 0 5px;
  }
}

.game-code__code--no-blur {
  -webkit-filter: none;
          filter: none;
}

.game-code__text {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #BA8B70;
  letter-spacing: 0.02em;
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
  font-size: 14px;
}

@media (min-width: 599px) and (max-width: 1024px) {
  .game-code__text {
    margin: 0 10px 0 0;
  }
}

@media (max-width: 599px) {
  .game-code__text {
    margin: 0 0 10px 0;
  }
}

.game-code__copy, .game-code__reveal {
  border: 1px solid #a1c0ba;
  background: #a1c0ba;
  line-height: 40px;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 30px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 12px;
  padding: 0 10px;
  min-width: 0 !important;
  line-height: 22px;
}

.game-code__copy:hover, .game-code__reveal:hover {
  border: 1px solid #6f8e88;
  background: #6f8e88;
}

@media (min-width: 599px) {
  .game-code__copy, .game-code__reveal {
    min-width: 230px;
  }
}

@media (max-width: 600px) {
  .game-code__copy, .game-code__reveal {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 599px) {
  .game-code__copy {
    margin-bottom: 5px;
  }
}

.game {
  display: none;
  position: relative;
}

.game--visible {
  display: block;
}

.gameboard {
  margin: 0 auto 50px;
  width: 100%;
  max-width: 300px;
}

@media (max-width: 350px) {
  .gameboard {
    max-width: 260px;
  }
}

.gameboard__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

@media (min-width: 599px) and (max-width: 1024px) {
  .gameboard--two .gameboard__row {
    margin-bottom: 3%;
  }
}

@media (max-width: 599px) {
  .gameboard--two .gameboard__row {
    margin-bottom: 3%;
  }
}

@media (max-width: 599px) {
  .gameboard--one .gameboard__row {
    margin-bottom: 3%;
  }
}

.gameboard__block {
  border: 1px solid transparent;
  border-radius: 3px;
  width: 50px;
  height: 50px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 599px) and (max-width: 1024px) {
  .gameboard--two .gameboard__block {
    width: 17%;
    aspect-ratio: 1/1;
    height: auto;
  }
}

@media (max-width: 599px) {
  .gameboard--two .gameboard__block {
    width: 17%;
    aspect-ratio: 1/1;
    height: auto;
  }
}

@media (max-width: 599px) {
  .gameboard--one .gameboard__block {
    width: 17%;
    aspect-ratio: 1/1;
    height: auto;
  }
}

.gameboard__block p {
  font-family: quicksand;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}

@media (max-width: 400px) {
  .gameboard__block p {
    font-size: 16px;
  }
}

.gameboard__block--green, .gameboard__block--yellow, .gameboard__block--grey {
  color: white;
}

.gameboard__block--green {
  background: #6aaa64;
}

.gameboard__block--yellow {
  background: #c9b458;
}

.gameboard__block--grey {
  background: #7C7C7C;
}

.header,
.error-messages {
  text-align: center;
}

@media (min-width: 350px) {
  .header,
  .error-messages {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 350px) {
  .header,
  .error-messages {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header {
  max-width: 600px;
  padding-top: 20px;
  margin-bottom: 30px;
}

@media (min-width: 599px) and (max-width: 1024px) {
  .header {
    padding-top: 40px;
  }
}

@media (max-width: 599px) {
  .header {
    padding-top: 20px;
  }
}

.header--instructions {
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 100%;
  margin-top: -70px;
  max-width: 782px;
}

@media (min-width: 599px) and (max-width: 1024px) {
  .header--instructions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
}

@media (max-width: 599px) {
  .header--instructions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin-top: 0;
  }
}

.header__content {
  background: white;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 599px) and (max-width: 1024px) {
  .header__content {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 599px) {
  .header__content {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    display: none;
  }
}

.header__content p {
  color: #ccb7ab;
}

.header__text {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #BA8B70;
  letter-spacing: 0.02em;
  margin: 0 0 5px;
  font-weight: 600;
  color: #fff;
}

.header__text--instructions {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.header__text--title {
  color: white;
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 25px;
  font-family: "Quicksand", sans-serif;
  font-size: 120px;
  line-height: 125px;
  font-weight: 300;
  color: #BA8B70;
  color: #fff;
}

@media (min-width: 599px) and (max-width: 1024px) {
  .header__text--title {
    font-size: 70px;
    line-height: 75px;
    margin-bottom: 20px;
  }
}

@media (max-width: 599px) {
  .header__text--title {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 12px;
  }
}

.keypad {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

@media (max-width: 599px) {
  .keypad--one {
    min-width: 300px;
  }
}

@media (max-width: 340px) {
  .keypad--one {
    margin-left: -4%;
    min-width: 300px;
  }
}

.keypad--two {
  display: none;
}

.keypad__row {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.keypad__row:nth-of-type(2) {
  max-width: 260px;
  margin: 0 auto 5px;
}

.keypad__button {
  min-width: 25px;
  height: 40px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.keypad__button:hover {
  background: #BA8B70;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.keypad__button--green, .keypad__button--yellow, .keypad__button--grey {
  color: white;
}

.keypad__button--grey {
  background: #7C7C7C;
}

.keypad__button--yellow {
  background: #c9b458;
}

.keypad__button--green {
  background: #6aaa64;
}

.messages {
  text-align: center;
  width: 300px;
  margin-bottom: 20px;
  margin-top: -20px;
}

@media (max-width: 599px) {
  .messages {
    width: 100%;
  }
}

.messages__text {
  font-family: quicksand;
  font-size: 40px;
  line-height: 42px;
  color: white;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0;
}

.messages__text--title {
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.05em;
}

@media (max-width: 599px) {
  .messages__text--title {
    font-size: 16px;
    line-height: 18px;
  }
}

.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  width: 100%;
  z-index: 2;
}

.modal--visible {
  display: block;
}

.modal--stats {
  padding: 30px;
  max-width: 500px;
  background: #fff;
}

@media (max-width: 599px) {
  .modal--stats {
    max-width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.modal__word, .modal__winner {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  line-height: 45px;
  font-weight: 300;
  color: #BA8B70;
  color: #a1c0ba;
  text-align: center;
  margin: 0 0 20px;
}

.modal__player-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 599px) {
  .modal__player-stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.modal__player {
  width: 45%;
  margin-bottom: 30px;
}

@media (max-width: 599px) {
  .modal__player {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 599px) {
  .modal__player--one {
    margin-bottom: 30px;
  }
}

.modal__text {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #BA8B70;
  letter-spacing: 0.02em;
  color: #a1c0ba;
  margin: 0 0 10px;
}

.modal__text--header {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  line-height: 45px;
  font-weight: 300;
  color: #BA8B70;
  color: #6f8e88;
  margin: 0 0 30px;
}

@media (max-width: 599px) {
  .modal__text--header {
    margin: 0 0 20px;
  }
}

.modal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 599px) {
  .modal__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.modal__button {
  border: 1px solid #a1c0ba;
  background: #a1c0ba;
  line-height: 40px;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 30px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.modal__button:hover {
  border: 1px solid #6f8e88;
  background: #6f8e88;
}

@media (min-width: 599px) {
  .modal__button {
    min-width: 230px;
  }
}

@media (max-width: 600px) {
  .modal__button {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 599px) {
  .modal__button {
    margin-bottom: 10px;
  }
}

.modal__button--active {
  background: green;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: #3c3c3b;
  opacity: 0.5;
}

.overlay--active {
  display: block;
}

.perspectives {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1920px) {
  .perspectives {
    max-width: 780px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) and (max-width: 1920px) {
  .perspectives {
    max-width: 780px;
    margin: 0 auto;
  }
}

@media (min-width: 599px) and (max-width: 1024px) {
  .perspectives {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 599px) {
  .perspectives {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.perspective {
  position: relative;
}

@media (min-width: 1920px) {
  .perspective {
    width: 300px;
  }
}

@media (min-width: 1024px) and (max-width: 1920px) {
  .perspective {
    width: 300px;
  }
}

@media (min-width: 599px) and (max-width: 1024px) {
  .perspective--one {
    margin-right: 10%;
  }
}

@media (max-width: 599px) {
  .perspective--one {
    margin-right: 20px;
    width: 100px;
    width: 60%;
  }
}

@media (min-width: 599px) and (max-width: 1024px) {
  .perspective--two {
    width: 35%;
  }
}

@media (max-width: 599px) {
  .perspective--two {
    width: 35%;
  }
}

.perspective__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 730px) {
  .perspective__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media (max-width: 730px) {
  .perspective .player__text {
    margin-bottom: 5px;
  }
}

.ready {
  display: none;
}

.ready--visible {
  display: block;
}

@media (max-width: 599px) {
  .ready--visible {
    width: 90px;
  }
}

.ready__button {
  border: 1px solid #a1c0ba;
  background: #a1c0ba;
  line-height: 40px;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 30px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  background: grey;
  border: grey;
  min-width: 0 !important;
  width: 120px;
  padding: 0;
}

.ready__button:hover {
  border: 1px solid #6f8e88;
  background: #6f8e88;
}

@media (min-width: 599px) {
  .ready__button {
    min-width: 230px;
  }
}

@media (max-width: 600px) {
  .ready__button {
    width: 100%;
    padding: 0;
  }
}

.ready__button--active {
  background: green;
}

.ready__button--hidden {
  display: none;
}

.ready__button--one:hover {
  background: darkgrey;
  border: darkgrey;
}

.ready__button--two:hover {
  border: 0;
  background: grey;
  cursor: default;
}

.start-game {
  background: #fff;
  padding: 60px;
  margin: 0 auto;
}

@media (min-width: 1920px) {
  .start-game {
    max-width: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1920px) {
  .start-game {
    max-width: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 599px) {
  .start-game {
    padding: 30px 20px;
  }
}

.start-game--hidden {
  display: none;
}

@media (min-width: 1920px) {
  .start-game__button-container {
    width: 48%;
    padding-left: 40px;
  }
}

@media (min-width: 1024px) and (max-width: 1920px) {
  .start-game__button-container {
    width: 48%;
    padding-left: 40px;
  }
}

@media (min-width: 599px) and (max-width: 1024px) {
  .start-game__button-container {
    margin-bottom: 40px;
  }
}

@media (max-width: 599px) {
  .start-game__button-container {
    margin-bottom: 30px;
  }
}

@media (min-width: 599px) and (max-width: 1024px) {
  .start-game__button-container--public {
    border-bottom: 1px solid black;
    padding-bottom: 30px;
  }
}

@media (max-width: 599px) {
  .start-game__button-container--public {
    border-bottom: 1px solid black;
    padding-bottom: 30px;
  }
}

@media (min-width: 1920px) {
  .start-game__button-container--private {
    border-left: 1px solid black;
  }
}

@media (min-width: 1024px) and (max-width: 1920px) {
  .start-game__button-container--private {
    border-left: 1px solid black;
  }
}

.start-game__header {
  font-family: "Quicksand", sans-serif;
  font-size: 60px;
  line-height: 65px;
  font-weight: 300;
  color: #BA8B70;
  margin-top: 0;
}

@media (min-width: 599px) and (max-width: 1024px) {
  .start-game__header {
    font-size: 40px;
    line-height: 45px;
  }
}

@media (max-width: 599px) {
  .start-game__header {
    font-size: 20px;
    line-height: 25px;
  }
}

@media (min-width: 599px) and (max-width: 1024px) {
  .start-game__header {
    margin-bottom: 10px;
  }
}

@media (max-width: 599px) {
  .start-game__header {
    margin-bottom: 10px;
  }
}

.start-game__button {
  border: 1px solid #a1c0ba;
  background: #a1c0ba;
  line-height: 40px;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 30px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.start-game__button:hover {
  border: 1px solid #6f8e88;
  background: #6f8e88;
}

@media (min-width: 599px) {
  .start-game__button {
    min-width: 230px;
  }
}

@media (max-width: 600px) {
  .start-game__button {
    width: 100%;
    padding: 0;
  }
}

.start-game__button--active {
  background-color: green;
}

.start-game__text {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #BA8B70;
  letter-spacing: 0.02em;
}

.start-game__text--error, .start-game__text--searching {
  font-weight: 700;
  color: #6f8e88;
  display: block;
  width: 220px;
  font-size: 14px;
  padding-top: 10px;
}

@media (min-width: 599px) and (max-width: 1024px) {
  .start-game__text--error, .start-game__text--searching {
    width: 100%;
  }
}

@media (max-width: 599px) {
  .start-game__text--error, .start-game__text--searching {
    width: 100%;
  }
}

.start-game__input {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #BA8B70;
  letter-spacing: 0.02em;
  line-height: 40px;
  border: 1px solid grey;
  padding: 0 5px;
  width: 230px;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 599px) {
  .start-game__input {
    width: 100%;
  }
}

.timer {
  background: #fff;
  padding: 10px 15px;
}

@media (min-width: 599px) and (max-width: 1024px) {
  .timer {
    margin-bottom: 10px;
  }
}

@media (max-width: 599px) {
  .timer {
    margin-bottom: 10px;
  }
}

.timer__time {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #BA8B70;
  letter-spacing: 0.02em;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */