<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vsrdle</title>
    <link rel="stylesheet" href="/public/style/style.css">
    <script src="/public/scripts/main.js" defer></script>
</head>

<body>
    <main class="container">
        <section class="game-code">
            <p class="game-code__code"></p>
        </section>
        <section class="start-game">
                <div class="start-game__button-container">
                    <button class="start-game__button start-game__button--create">Create Game</button>
                    <form class="start-game__join">
                        <input type="text" class="start-game__input" name="gameId">
                        <button class="start-game__button start-game__button--join" type="submit">Join Game</button>
                    </form>
                </div>
        </section>
    </main>
</body>

</html>