.gameboard {
    $root: &;
    $one: #{$root}--one;
    $two: #{$root}--two;

    //margin: 0 auto 50px;
    // width: 100%;
    width: 300px;
    margin-bottom: 50px;
    height: 360px;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    box-sizing: border-box;

    @media (max-width: 740px) {

    }

    @media (max-width: 350px) {
        width: 260px;
    }

    &--one {
        @include mobile() {
            // max-width: 100px;
        }

        @media (max-width: 580px) {
            
        }

        @media (max-width: 470px) {
            width: 200px;
            height: 240px;        
        }

        @media (max-width: 350px) {
            width: 170px;
            height: 200px;
        }
    }

    &--two {
        @media (max-width: 740px) {
            width: 200px;
            height: 230px;
        }

        @media (max-width: 580px) {
            width: 100px;
            height: 125px;
        }

        @media (max-width: 470px) {

        }


    }

    &__row {
        // display: flex;
        // justify-content: space-between;
        // margin-bottom: 10px;

        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 5px;

        #{$two} & {
            @include tablet() {
                // margin-bottom: 5px;
                // margin-bottom: 3%;
            }

            @include mobile() {
                // margin-bottom: 5px;
                //margin-bottom: 3%;

                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-gap: 5px;
            }
        }

        #{$one} & {
            // @include tablet() {
            //   margin-bottom: 5px;
            // }

            @include mobile() {
                // margin-bottom: 5px;
                //margin-bottom: 3%;

                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-gap: 5px;
            }
        }
    }

    &__block {
        border: 1px solid transparent;
        border-radius: 3px;
        // width: 50px;
        // height: 50px;
        width: 100%;
        height: 100%;
        background: $secondary;
        display: flex;
        justify-content: center;
        align-items: center;

        #{$two} & {
            @include tablet() {
                // width: 15px;
                // height: 15px;
                // width: 17%;
                // height: 0;
                // padding-top: 17%;
                // aspect-ratio: 1/1;
                // height: auto;
            }

            @include mobile() {
                // width: 15px;
                // height: 15px;

                // width: 17%;
                // aspect-ratio: 1/1;
                // height: auto;

                // width: auto;
                // height: auto;
            }
        }

        #{$one} & {
            // @include tablet() {
            //     width: 15px;
            //     height: 15px;
            // }

            @include mobile() {
                // width: 15px;
                // height: 15px;
                //width: 17%;
                // height: 0;
                // padding-top: 17%;

                // aspect-ratio: 1/1;
                // height: auto;

                // height: 25px;
                // width: 25px;
            }
        }

        //   @media (max-width: 350px) {
        //     width: 40px;
        //     height: 40px;
        //   }

        p {
            font-family: quicksand;
            text-align: center;
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            margin: 0;
            text-transform: uppercase;

            @media (max-width: 400px) {
                font-size: 16px;
            }
        }

        &--green,
        &--yellow,
        &--grey {
            color: $secondary;
        }

        &--green {
            background: $green;
        }

        &--yellow {
            background: $yellow;
        }

        &--grey {
            background: $grey;
        }
    }
}
