.keypad {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    text-align: center;

    &--one {

        @include mobile() {
            min-width: 300px;
        }

        @media (min-width: 360px) and (max-width: 470px) {
          min-width: 340px;
          margin-left: -10px;
        }

        // @media (max-width: 340px) {
        //     margin-left: -4%;
        //     min-width: 300px;
        // }

    }

    &--two {
        display: none;
    }
    
    &__row {
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;

      @media (min-width: 360px) and (max-width: 470px) {
        // max-width: 340px;
        // margin: 0 auto 5px;
      }
      
      &:nth-of-type(2) {
        max-width: 260px;
        margin: 0 auto 5px;

        @media (min-width: 360px) and (max-width: 470px) {
          max-width: 300px;
        }
      }
    }
    
    &__button {
      min-width: 25px;
      height: 40px;
      border-radius: 5px;
      border: 0;
      cursor: pointer;
      transition: 0.3s ease;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      touch-action: manipulation;
      background: $white;
      color: $blueblack;
      text-align: center;
      text-transform: uppercase;

      @media (min-width: 360px) and (max-width: 470px) {
        flex-grow: 1;
        margin-left: 4px;
        min-width: 30px;

        &:first-of-type {
          margin-left: 0;
        }
      }
      
      &:hover {
        background: $tertiary;
        transition: 0.3s ease;
      }
      
      &--green,
      &--yellow,
      &--grey {
        color: $secondary;
      }
      
      &--grey {
        background: $grey;
      }
      
      &--yellow {
        background: $yellow;
      }
      
      &--green {
        background: $green;
      }
  
    }
  }