.timer {
    @include tablet() {
        margin-bottom: 10px;
    }

    @include mobile() {
        margin-bottom: 10px;
    }

    &__time {
        @include p();
        margin: 0;
        background: $white;
        padding: 10px 15px;
        min-width: 70px;
        text-align: center;
    }
}