body {
    background: $primary;
    margin: 0;

    // h1, h2, h3, h4, h5, h6, p, a {
    //     margin: 0;
    // }
}

.container {
    @include container();
    position: relative;
}

.twitter {
    text-align: right;

    p {
        @include p();
        font-size: 12px;
        color: $blueblack;
        margin: 0;
    }

    &__link {
        @include a();
        font-size: 12px;
        font-weight: $f-bold;
        margin: 0;
    }
}

input {
    appearance: none;
    border-radius: 0;
}

.lost-connection {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);

    align-items: center;
    justify-content: center;

    display: none;

    p {
        background-color: $white;
        @include p();
        font-size: 28px;
        line-height: 32px;
        padding: 10px;
    }

    &--visible {
        display: flex;
    }
}