//  Colours
$black: #000;
$white: #fff;
$coral: #cf8562;
$salmon: #eac6b8;
$pink: #f2ded7;
$lightgreen: #a1c0ba;
$teal: #6f8e88;
$beigepink: #CCB7AB;
$blueblack: #3c3c3b;
$darksalmon: #AD827C;
$lightpink: #E7D8D1;

// Fonts
$quicksand: 'Quicksand', sans-serif;

//colours
$primary: #ccb7ab;
$secondary: white;
$tertiary: #BA8B70;
$grey: #7C7C7C;
// $yellow: #DFD694;

//color blind
$orange: #CA8A14;
$blue: #408DB5;

$yellow: #c9b458;
$green: #6aaa64;

//buttons
/**basic button**/
$buttonbg: $lightgreen;
$buttoncolor: $white;
$buttonbghover: $teal;
$buttonfont: $quicksand;
$buttonLetterSpacing: 0.1em;


//Font
$fontprimary: $quicksand;



// Font Weights
$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-semibold: 600;
$f-bold: 700;
$f-heavy: 800;